{%- css -%}
  {% include "src/css/base.css"%}
{%- endcss -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>yuri.foundation | {{ title }}</title>
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <a href="/"><img eleventy:widths="600,1200,1800" sizes="auto" src="/assets/logo.svg" class="hero-image" alt="yuri.foundation logo" fetchpriority="high"></a>
    </header>
    <main>
      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>
