:root {
    --rosepine-color-base: #faf4ed;
    --rosepine-color-surface: #fffaf3;
    --rosepine-color-overlay: #f2e9e1;
    --rosepine-color-muted: #9893a5;
    --rosepine-color-subtle: #797593;
    --rosepine-color-text: #464261;
    --rosepine-color-love: #b4637a;
    --rosepine-color-gold: #ea9d34;
    --rosepine-color-rose: #d7827e;
    --rosepine-color-pine: #286983;
    --rosepine-color-foam: #56949f;
    --rosepine-color-iris: #907aa9;
    --rosepine-color-highlight-low: #f4ede8;
    --rosepine-color-highlight-med: #dfdad9;
    --rosepine-color-highlight-high: #cecacd;

    --paperclip-sys-card-shadow: 4px 4px 0 0 #CDC9BC;
    --paperclip-sys-btn-shadow: 2px 2px 0px #E9E8E2;
    --paperclip-sys-call-to-action: linear-gradient(to bottom, #FF0000, #FF00AE);

    --paperclip-sys-color-link: #7E42FF;

    --paperclip-sys-color-moss: #557C66;
    --paperclip-sys-color-miso: #89711A;
    --paperclip-sys-color-raspberry: #946190;
    --paperclip-sys-color-grape: #815FAC;
    --paperclip-sys-color-orangepeel: #B25C0A;
    --paperclip-sys-color-lime: #048500;
    --paperclip-sys-color-twinkle: #067F84;

    --icon-yt-music-16dp: image-set(url("/assets/carrd/BrandYtMusic16dp@1x.png") 1x,
            url("/assets/carrd/BrandYtMusic16dp@2x.png") 2x);
    --icon-apple-music-16dp: image-set(url("/assets/BrandAppleMusic16dp@1x.png") 1x,
            url("/assets/carrd/BrandAppleMusic16dp@2x.png") 2x);
    --icon-spotify-16dp: image-set(url("/assets/BrandSpotify16dp@1x.png") 1x,
            url("/assets/carrd/BrandSpotify16dp@2x.png") 2x);
    --icon-title-bar-minimize-16dp: url("/assets/carrd/IconTitleBarMinimize16dp.svg");
    --icon-title-bar-maximize-16dp: url("/assets/carrd/IconTitleBarMaximize16dp.svg");
    --icon-title-bar-close-16dp: url("/assets/carrd/IconTitleBarClose16dp.svg");
    --icon-open-in-16dp: url("/assets/carrd/IconOpenIn16dp.svg");
    --icon-dropdown-16dp: url("/assets/carrd/IconDropdown16dp.svg");
    --icon-horizontal-dots-16dp: url("/assets/carrd/IconHorizontalDots16dp.svg");
    --icon-link-16dp: url("/assets/carrd/IconLink16dp.svg");

    font-size: 1rem;
    text-transform: lowercase;
}

/* low quality utility classes */

.font-jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-cherry-bomb-one {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-cause {
    font-family: "Cause", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.no-text-transform {
    text-transform: none;
}

.font-size-heading {
    font-size: 2rem;
    line-height: 1;
}

.font-size-note {
    font-size: 0.75rem;
}

.text-moss {
    color: var(--paperclip-sys-color-moss);
}

.text-miso {
    color: var(--paperclip-sys-color-miso);
}

.text-raspberry {
    color: var(--paperclip-sys-color-raspberry);
}

.text-grape {
    color: var(--paperclip-sys-color-grape);
}

.text-orangepeel {
    color: var(--paperclip-sys-color-orangepeel);
}

.text-lime {
    color: var(--paperclip-sys-color-lime);
}

.text-twinkle {
    color: var(--paperclip-sys-color-twinkle);
}

/* messy styles */

/* low quality reset modded from https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css */
*,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

.link {
    color: var(--paperclip-sys-color-link);
    text-decoration: underline;
}


/* start */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    margin: 0;
    padding: 16px;
}

main {
    background: var(--rosepine-color-base);
    color: var(--rosepine-color-text);
    width: 100%;
    max-width: 720px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.header-start {
    display: flex;
    flex-grow: 1;
    padding: 0px 8px;
    gap: 4px;
    border: 1px dashed var(--rosepine-color-highlight-high);
}

.header-end {
    display: flex;
    gap: 8px;
}

.header-end-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    background: #EED4FC;
    box-shadow: 4px 4px 0px #8C64A1;
}

.header-end-btn:active {
    translate: 2px 2px;
    box-shadow: 2px 2px 0px #8C64A1;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.divider-with-label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-size: 1rem;
}

.divider-with-label--divider {
    flex-grow: 1;
    height: 2px;
    background: var(--rosepine-color-highlight-high);
}

.column-clank {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(175px, 100%), 1fr));
    align-items: flex-start;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 8px;
    gap: 4px;

    min-width: 180px;
    height: 100%;
    position: relative;
}

.card-sticky-note {
    background: var(--rosepine-color-surface);
    border: 1px dashed var(--rosepine-color-highlight-high);
    box-shadow: var(--paperclip-sys-card-shadow);
}

@media (min-width: 600px) {
    .card-one-col {
        flex-direction: row;
    }
    .card-one-col > * {
        flex: 1 0 25%;
        flex-wrap: nowrap;
    }
}

.card-photo {
    height: auto;
}

.card-photo img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.card--header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.card--image {
    max-width: 100%;
    height: auto;
}

.card--actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: stretch;
    flex-wrap: balance;
    flex-grow: 1;
    gap: 8px;
}

.mushy-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
    min-height: 32px;
    gap: 4px;

    background: var(--rosepine-color-base);
    border: 1px solid var(--rosepine-color-highlight-high);
    box-shadow: var(--paperclip-sys-btn-shadow);

    text-transform: none;
    position: relative;
}

/* touch target 48ishdp */
@media (pointer: coarse) {
    .mushy-button::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        min-width: 38px;
        min-height: 48px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.mushy-button:active {
    translate: 2px 2px;
    box-shadow: none;
}

/* Icons */
.icon-yt-music-16dp,
.icon-apple-music-16dp,
.icon-spotify-16dp,
.icon-title-bar-minimize-16dp,
.icon-title-bar-maximize-16dp,
.icon-title-bar-close-16dp,
.icon-open-in-16dp,
.icon-dropdown-16dp,
.icon-horizontal-dots-16dp,
.icon-link-16dp {
    width: 16px;
    height: 16px;
    display: inline-block;
    flex: 0 0 16px;
    font-size: 0;
}

.icon-yt-music-16dp {
    background-image: var(--icon-yt-music-16dp);
}

.icon-apple-music-16dp {
    background-image: var(--icon-apple-music-16dp);
}

.icon-spotify-16dp {
    background-image: var(--icon-spotify-16dp);
}

.icon-title-bar-minimize-16dp {
    background-image: var(--icon-title-bar-minimize-16dp);
}

.icon-title-bar-maximize-16dp {
    background-image: var(--icon-title-bar-maximize-16dp);
}

.icon-title-bar-close-16dp {
    background-image: var(--icon-title-bar-close-16dp);
}

.icon-open-in-16dp {
    background-image: var(--icon-open-in-16dp);
}

.icon-dropdown-16dp {
    background-image: var(--icon-dropdown-16dp);
}

.icon-horizontal-dots-16dp {
    background-image: var(--icon-horizontal-dots-16dp);
}

.icon-link-16dp {
    background-image: var(--icon-link-16dp);
}