{%- css -%}
{% include "src/css/carrd.css" %}
{%- endcss -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>my carrd!</title>
        <link rel="manifest" href="/manifest.webmanifest">
        <link rel="icon" href="/favicon.ico" sizes="32x32"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Cause&family=Cherry+Bomb+One&family=JetBrains+Mono&display=swap"
            rel="stylesheet">
        <style>{% getBundle "css" %}</style>
    </head>
    <body class="font-cause">
        <main>
            <section class="header">
                <div class="header-start">
                    <i class="icon-dropdown-16dp"></i>
                    <span class="font-jetbrains-mono">...miso.apk</span>
                </div>
                <div class="header-end">
                    <div class="header-end-btn">
                        <i class="icon-title-bar-minimize-16dp"></i>
                    </div>
                    <div class="header-end-btn">
                        <i class="icon-title-bar-maximize-16dp"></i>
                    </div>
                    <div class="header-end-btn">
                        <i class="icon-title-bar-close-16dp"></i>
                    </div>
                </div>
            </section>
            <section class="content">
                <h1 class="font-jetbrains-mono divider-with-label">
                    <div class="divider-with-label--divider"></div>
                    About
                    <div class="divider-with-label--divider"></div>
                </h1>
                <div class="column-clank">
                    <section class="card card-photo" style="aspect-ratio:193/230;">
                        <img
                            src="/assets/carrd/MistiquePhotoCard.png"
                            alt="Image of Mistique from the game Stella Sora, on their back"
                            eleventy:widths="193,386,582"
                            sizes="auto"
                            fetchpriority="high">
                        <span
                            class="font-jetbrains-mono font-size-note no-text-transform"
                            style="position: absolute;left: 0;top: -12px;transform: rotate(-5deg);">Mistique from Stella Sora</span>
                    </section>
                    <section class="card card-sticky-note">
                        <h2 class="font-cherry-bomb-one font-size-heading">
                            <span class="text-miso">Miso</span>/<span class="text-moss">Dew</span>
                        </h2>
                        <p>they/them</p>
                        <p>Malaysian/Chinese</p>
                        <a href="https://en.wikipedia.org/wiki/Wikipedia:Babel" target="_blank" class="link">Babel</a>
                        <p>English - Native</p>
                        <p>Simplified Chinese - 2</p>
                        <p>Cantonese - 1</p>
                    </section>
                    <section class="card card-sticky-note">
                        <h2 class="font-cherry-bomb-one font-size-heading text-moss">Likes</h2>
                        <p>Accessibility, seafood, roleplay, UI/UX, 3D modelling/rigging</p>
                        <h2 class="font-cherry-bomb-one font-size-heading text-raspberry">Dislikes</h2>
                        <p>Harassment, arguing, exploitation, screen reader unfriendly UI</p>
                    </section>
                    <!-- "row" 2 -->
                    <section class="card card-sticky-note">
                        <h2 class="font-cherry-bomb-one font-size-heading text-grape">Comms</h2>
                        <p class="no-text-transform">Signal, Discord, Matrix, Bluesky</p>
                        <p>DMs are open if you want to talk!</p>
                        <h2 class="font-cherry-bomb-one font-size-heading text-orangepeel">Writing style</h2>
                        <p>Mostly formal but casual for people I’m close with. 2nd person overuse. Text roleplay lover.</p>
                    </section>
                    <section class="card card-photo" style="aspect-ratio:193/230;">
                        <img
                            src="/assets/carrd/SoukakuPhotoCard.png"
                            alt="Image of Soukaku from the game Zenless Zone Zero, looking at a sparkler held in their hands"
                            eleventy:widths="193,386,582"
                            sizes="auto"
                            fetchpriority="high">
                        <span
                            class="font-jetbrains-mono font-size-note no-text-transform"
                            style="position: absolute;left: -0.33px;bottom: 0;transform: rotate(-6.05deg);width: 8em;">I <3 soukaku from 绝区零</span>
                    </section>
                    <section class="card card-sticky-note">
                        <h2 class="font-cherry-bomb-one font-size-heading text-lime">Rotation</h2>
                        <p>Games - Stella Sora, Assassin's Creed Shadows</p>
                        <p>Songs - Blue Archive/Stella Sora OST, Stream or Scream</p>
                        <p>Projects - Product at Mysterious Company, wiki editing/designing</p>
                        <p>Tech - Figma, VSCode</p>
                    </section>
                </div>
                <h1 class="font-jetbrains-mono divider-with-label">
                    <div class="divider-with-label--divider"></div>
                    Music
                    <div class="divider-with-label--divider"></div>
                </h1>
                <div class="column-clank">
                    <section class="card card-sticky-note card-with-actions">
                        <div class="card--header">
                            <h2 class="font-cherry-bomb-one font-size-heading text-twinkle">Stella Sora Records</h2>
                            <p class="text-twinkle">Please listen to keep the game alive through alternative revenue sources [volume 3 out for CN
                                platforms!]
                            </p>
                        </div>
                        <img
                            class="card--image"
                            src="/assets/carrd/SSRPhotoCard.png"
                            alt="Album art for Stella Sora Original Soundtrack Vol. 3"
                            eleventy:widths="252,504,756"
                            sizes="auto">
                        <div class="card--actions">
                            <a href="https://open.spotify.com/artist/7LWG1Nj1ozJEtjfpF3ilCW" target="_blank" class="mushy-button">
                                <i class="icon-spotify-16dp">Open in Spotify</i>
                            </a>
                            <a href="https://music.youtube.com/channel/UC2igYNf6FOF11ZIDStlaHLA" target="_blank" class="mushy-button">
                                <i class="icon-yt-music-16dp">Open in YouTube Music</i>
                            </a>
                            <a href="https://music.apple.com/artist/6783043560" target="_blank" class="mushy-button">
                                <i class="icon-apple-music-16dp">Open in Apple Music</i>
                            </a>
                            <a href="https://y.qq.com/n/ryqq_v2/singer/001Rt7AK0ImjcV" target="_blank" class="mushy-button">
                                <i class="icon-open-in-16dp"></i>QQ音乐</a>
                            <a href="https://www.kugou.com/singer/21280520.html" target="_blank" class="mushy-button">
                                <i class="icon-open-in-16dp"></i>酷狗音乐</a>
                            <a href="https://stellasora.miraheze.org/wiki/Soundtrack" target="_blank" class="mushy-button">
                                <i class="icon-open-in-16dp"></i>Stella Sora Wiki</a>
                        </div>
                    </section>
                    <section class="card card-sticky-note card-with-actions">
                        <div class="card--header">
                            <h2 class="font-cherry-bomb-one font-size-heading text-miso">Blue Archive OST</h2>
                            <p class="text-miso">Constantly on my rotation, though I stopped playing the game. started listening to it after heard
                                it in one too many videos.</p>
                        </div>
                        <img
                            class="card--image"
                            src="/assets/carrd/BlueArchiveOstPhotoCard.png"
                            alt="Album art"
                            eleventy:widths="252,504,756"
                            sizes="auto">
                        <div class="card--actions">
                            <a href="https://bluearchive.wiki/wiki/Music" target="_blank" class="mushy-button">
                                <i class="icon-open-in-16dp"></i>Blue Archive Wiki</a>
                        </div>
                    </section>
                </div>
                <div class="column-clank">
                    <section class="card card-sticky-note card-with-actions card-one-col">
                        <div class="card--header">
                            <h2 class="font-cherry-bomb-one font-size-heading text-grape">San-Z</h2>
                            <p class="text-grape">I seldom play ZZZ except for events that excite me now, but I still love listening to its OST in
                                my free time!</p>
                        </div>
                        <img
                            class="card--image"
                            src="/assets/carrd/SanZPhotoCard.png"
                            alt="Album art"
                            eleventy:widths="252,504,756"
                            sizes="auto">
                        <div class="card--actions">
                            <a href="https://open.spotify.com/artist/4Ep9NXSZDTJzz6BIv24p5x" target="_blank" class="mushy-button">
                                <i class="icon-spotify-16dp">Open in Spotify</i>
                            </a>
                            <a href="https://music.youtube.com/channel/UCtRlMZIFYt3BOq31t0xvq8g" target="_blank" class="mushy-button">
                                <i class="icon-yt-music-16dp">Open in YouTube Music</i>
                            </a>
                            <a href="https://music.apple.com/ca/artist/1754684944" target="_blank" class="mushy-button">
                                <i class="icon-apple-music-16dp">Open in Apple Music</i>
                            </a>
                        </div>
                    </section>
                </div>
                <h1 class="font-jetbrains-mono divider-with-label">
                    <div class="divider-with-label--divider"></div>
                    Blog
                    <div class="divider-with-label--divider"></div>
                </h1>
                <div class="column-clank">
                    <div class="column-clank">
                        <section class="card card-sticky-note">
                            <h2 class="font-cherry-bomb-one font-size-heading">
                                Tidbits from
                                <span class="text-miso">Miso</span>
                            </h2>
                            <p>Various miscellaneous quips</p>
                        </section>
                        <a href="/blog" class="mushy-button">
                            <i class="icon-horizontal-dots-16dp"></i>See more</a>
                    </div>
                    <div class="column-clank">
                        {# TODO align with design #}
                        <ol reversed class="postlist">
                            {%- for post in collections.posts | reverse %}
                            <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
                                <a href="{{ post.url }}" class="link">
                                {%- if post.data.title -%}
                                    {{ post.data.title }}
                                {%- else -%}
                                    <code>{{ post.url }}</code>
                                {%- endif -%}
                                </a>
                                <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
                            </li>
                            {%- endfor %}
                        </ol>
                    </div>
                </div>
                <span class="divider-with-label">
                    <span>Built with <a href="https://www.11ty.dev/" class="link">11ty</a></span>
                    <div class="divider-with-label--divider"></div>
                    <span><a href="https://rosepinetheme.com/" class="link">Rosé Pine</a> Dawn</span>
                </span>
            </section>
        </main>
    </body>
</html>
